<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakers Heist | Hours & Locations</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/hrs_location.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="top_blk_header"></div>
        <div class="title">
            <h3>Est.</h3>
            <h1>Bakers Heist</h1>
            <h3>2015</h3>
        </div>
        <div class="navbar">
            <a href="./index.html">Home</a>
            <a href="./menu.html">Menu</a>
            <a href="./policy.html">Policy</a>
            <a href="./about_us.html">About</a>
            <a href="./hrs_location.html" class="nav_active">Hours & Locations</a>
        </div>
    </header>

    <div class="main">
        <h3 style="color: #db0f35;">Hours & Locations</h3>
        <h1>
            Visit Us
        </h1>

        <div class="flex_row">
            <div class="flex_col">
                <img src="../assets/ic_right_arr.svg" alt="arrow" class="arrow">
                <h2>Bakers Heist KL East Mall</h2>
                <p>G1-29, Ground Floor, KL East<br>
                    Mall, 823, Jln Lingkaran<br>
                    Tengah 2, KL Timur, 53100<br>
                    Kuala Lumpur, Federal<br>
                    Territory of Kuala Lumpur</p>

                <h3>Opening hours</h3>
                <p>10.00 a.m - 10. p.m. (daily)</p>

                <h3>Contact us</h3>
                <p>Mail:bakersheist@gmail.com<br>
                    Tel: 03-0987-4572</p>


            </div>
            <div class="flex_col">
                <img src="../assets/ic_right_arr.svg" alt="arrow" class="arrow">

                <h2>Bakers Heist Pavillion KL</h2>
                <p>Lot C3.10.01B, Level 3, Pavilion<br>
                    KL, 168, Jln Bukit Bintang,<br>
                    Bukit Bintang, 55100 Kuala <br>
                    Lumpur, Federal Territory of<br>
                    Kuala Lumpur</p>

                <h3>Opening hours</h3>
                <p>10.00 a.m - 10. p.m. (daily)</p>

                <h3>Contact us</h3>
                <p>Mail:bakersheist@gmail.com<br>
                    Tel: 03-0987-4572</p>
            </div>

        </div>

    </div>

    <footer>

        <div class="footer_child">
            <div class="flex_col">
                <h2>Join the Baker Heist Club & Get RM10 off Your Next Visit</h2>

                <div class="mailbox">
                    <h6>Email*</h6>
                    <form action="mailto:bakersheist@gmail.com" method="post" enctype="text/plain">
                        <input type="text" name="name" placeholder="Enter your email here">
                        <input type="submit" value="Join">
                    </form>
                </div>

            </div>

            <div class="footer_links">
                <div class="flex_col">
                    <h4>
                        Contact
                    </h4>
                    <a href="./hrs_location.html">
                        Hours and Locations
                    </a>
                    <a href="./about_us.html">
                        Careers
                    </a>
                </div>
                <div class="flex_col">
                    <h4>
                        Follow Us
                    </h4>
                    <a href="https://www.instagram.com/baker_heist15/">
                        Instagram
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <audio id="backgroundMusic" loop>
        <source
            src="../assets/Jazz Cozy Chill No Copyright Free Joyful Lounge Background Music for Restaurant  Italy by Aylex.mp3"
            type="audio/mp3">
    </audio>
    <script src="./scripts/music.js"></script>
</body>

</html>