<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakers Heist | Policy</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/policy.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="top_blk_header"></div>
        <div class="title">
            <h3>Est.</h3>
            <h1>Bakers Heist</h1>
            <h3>2015</h3>
        </div>
        <div class="navbar">
            <a href="./index.html">Home</a>
            <a href="./menu.html">Menu</a>
            <a href="./policy.html" class="nav_active">Policy</a>
            <a href="./about_us.html">About</a>
            <a href="./hrs_location.html">Hours & Locations</a>
        </div>
    </header>

    <div class="main">
        <div class="img_container" style="background-image: url('./assets/policy/photo1704893253 (3).jpeg');">
        </div>

        <div class="policy_details">
            <div>
                <h0>
                    Our Bakery Policy
                </h0>

                <div class="details_container">
                    <h7>PRIVACY POLICY</h7>

                    <p>
                        <strong>a. Personal Information:</strong><br>
                        We may collect personal information, such as email address when you voluntarily provide it
                        through
                        our website.
                        <br>
                    </p>
                    <p>
                        <strong>b. Security:</strong><br>
                        a. We take reasonable measures to protect your information from unauthorized access, disclosure,
                        alteration, or destruction.
                        <br>
                    </p>
                    <p>
                        <strong>How we use your information:</strong><br>
                        We use the information we collect in various ways, including to:
                        <br>
                        1. Send you emails.<br>
                        2. Find and prevent fraud.<br>
                        3. communicate with you.
                    </p>

                </div>
            </div>


        </div>

    </div>

    <div class="contact">
        <div class="contact_container">
            <div>

                <h1>
                    Contact
                </h1>
                <p> In order to resolve a complaint regarding the Site or to receive further information regarding use
                    of the Site, don't hestitate to conect with us via:</p>
            </div>
            <div>
                <p>

                    email: <a
                        hhref="mailto:bakersheist@gmail.com?subject = Feedback&body = Message">bakersheist@gmail.com</a>
                </p>

                <p>phone no: <br>
                    03-0987-4572</p>

            </div>
        </div>
    </div>

    <footer>

        <div class="footer_child">
            <div class="flex_col">
                <h2>Join the Baker Heist Club & Get RM10 off Your Next Visit</h2>

                <div class="mailbox">
                    <h6>Email*</h6>
                    <form action="mailto:bakersheist@gmail.com" method="post" enctype="text/plain">
                        <input type="text" name="name" placeholder="Enter your email here">
                        <input type="submit" value="Join">
                    </form>
                </div>

            </div>

            <div class="footer_links">
                <div class="flex_col">
                    <h4>
                        Contact
                    </h4>
                    <a href="./hrs_location.html">
                        Hours and Locations
                    </a>
                    <a href="./about_us.html">
                        Careers
                    </a>
                </div>
                <div class="flex_col">
                    <h4>
                        Follow Us
                    </h4>
                    <a href="https://www.instagram.com/baker_heist15/">
                        Instagram
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <audio id="backgroundMusic" loop>
        <source
            src="./assets/Jazz Cozy Chill No Copyright Free Joyful Lounge Background Music for Restaurant  Italy by Aylex.mp3"
            type="audio/mp3">
    </audio>
    <script src="./scripts/music.js"></script>
</body>

</html>