body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

h0 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 55px;
    display: flex;
    text-align: left;
    margin: 30px 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
}

h7 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    max-width: 60ch;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.top_blk_header {
    height: 43px;
    width: 100vw;
    background: #000;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;

    >* {
        padding: 5px;
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 19px 0;
    max-width: 940px;

    a:hover {
        color: #db0f35;
    }

    .nav_active {
        color: #db0f35;
        ;
    }
}

.flex_row {
    display: flex;
    flex-direction: row;
}


.flex_col {
    display: flex;
    flex-direction: column;
}


footer {
    background: black;
    max-height: 526px;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    margin-bottom: 30px;

    .footer_child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        max-width: 1600px;

        >* {
            width: 50%;
            margin: 0 12%;
        }

    }

    >*,
    a {
        color: white;
    }

    a:hover {
        color: #db0f35;
    }

    .mailbox {
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;

        ::placeholder {
            font-family: 'Raleway', sans-serif;
            font-size: 12px;
            align-items: center;
            line-height: 26px;
            letter-spacing: 1px;
            color: #ededed;
        }

        h6 {
            margin: 15px 0;
        }

        >* {
            margin: 0;
        }

        form {
            width: 100%;
            display: flex;
        }

        input[type=text] {
            background: none;
            border: 1px red solid;
            outline: none;
            padding: 10px;
            font-size: 12px;
            color: #ededed;
            width: 60%;
            height: 20px;
        }

        input[type=submit] {
            position: relative;
            right: 1px;
            font-size: 12px;
            border: white 1px solid;
            border-radius: 0;
            color: #db0f35;
            padding: 10px;
            height: 41px;
            width: 40%;
            font-family: 'Raleway', sans-serif;
            transition: 300ms;

            &:hover {
                cursor: pointer;
                background: #db0f35;
                color: white;
            }
        }
    }

    .footer_links {
        display: flex;
        justify-content: space-between;

        a {
            padding: 15px 0;
        }
    }

}